ol.nav-pills {
    z-index: 10;
    bottom: 5%;
    position: fixed;
}

ol.nav-pills a {
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    padding: 0px;
    margin: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #fff;
}

h1 {
    margin: 0px;
    padding: 20px;
}

p {
    margin: 0px;
    padding: 20px;
    padding-left: 40px;
}

div.col-sm-3,
div.col-sm-9 {
    margin: 0px;
    padding: 0px;
}

#loading {
    position: fixed;
    z-index: 20;
    padding-top: 20%;
    background-color: #000;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: baseline;
    pointer-events: none;
}

.glyphicon-refresh-animate {
    -webkit-animation: loading .7s infinite linear;
    animation: loading .7s infinite linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes loading {
    from {
        -webkit-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
    to {
        -webkit-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

#nameInput,
#messageInput {
    visibility: inherit;
    color: black;
}

#messagesDiv {
    visibility: inherit;
    overflow: scroll;
    height: 75%;
    width: 85%;
}

.fp-tableCell {
    //       text-align:center;
    vertical-align: baseline;
}

#aaa {
    height: 2000px;
    margin: -6000px 0px 0px 0px;
}

div.col-sm-9 {
    z-index: 1;
}

div.col-sm-9>div {
    margin: 0px;
    padding: 0px;
    font-size: 28px;
}

div.col-sm-3>#aaa>div {
    margin: 0px;
    padding: 0px;
    height: 2000px;
    font-size: 28px;
}

div.col-sm-3 {
    z-index: 2;
}

#section0,
#section00 {
    color: #fff;
    background-color: transparent;
    //    background-image: url("../images/Ageeba.jpg");
    background-attachment: fixed;
    overflow: hidden;
}

#section11,
#section00 {
    background-attachment: fixed;
}

#section1,
#section11 {
    color: #fff;
    background-color: #1E88E5;
    background-image: url("../images/Quality.jpg");
    background-attachment: fixed;
}

#section2,
#section22 {
    color: #fff;
    background-color: #673ab7;
    background-image: url("../images/GMSGfGX.jpg");
    background-attachment: fixed;
}

#section3,
#section33 {
    color: #fff;
    background-color: #ff9800;
    background-image: url("../images/Nature.jpg");
    background-attachment: fixed;
}

#section00,
#section11,
#section22,
#section33 {
    background-repeat: no-repeat;
}

.A_img {
    position: absolute;
    top: 0px;
    left: -33.333%;
    //   width: 100%;
    //height: 100%;
}

#video1 {
    position: absolute;
    top: 0px;
    left: -33.333%;
    z-index: 0;
    width: 1920px;
}

#video11 {
    top: 0px;
    left: 0px;
    width: 1920px;
    overflow: hidden;
    position: relative;
}

#videodiv {
    top: 0px;
    left: 0px;
    right: 75%;
    z-index: -1;
    position: fixed;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
}

.slide {
    position: relative;
}


/*
@media screen and (max-width: 810px) {
    #section0,
    #section1,
    #section2,
    #section3,
    {
        margin-left: 150px;
    }
}
*/

#chatroom_div,
#dashboard_div,
#fbapi_div {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}

#chart_div {
    position: relative;
    height: 90%;
}

#filter_div {
    position: relative;
    height: 10%;
}

#s2view {
    position: relative;
    margin-left: 40px;
    width: 95%;
    height: 80%;
    //    background-color: #fff;
    overflow: hidden;
}

#maincanvas {
    position: relative;
    margin-left: 80px;
}

#framepetting>iframe {
    position: relative;
    width: 500px;
    height: 600px;
    top: 0%;
    margin-left: 15%;
    border: none;
}

#logo {
    margin-top: 10%;
    margin-left: 30%;
    width: 30%;
    position: absolute;
    display: inherit;
}

#s2view iframe {
    z-index: -5;
}

.animation {
    display: none;
}

.anibtn {
    margin-left: 20px;
}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 767px) {
    p {
        padding: 5px
    }
    ol.nav-pills {
        z-index: 50;
        bottom: 1%;
        position: fixed;
    }
    ol.nav-pills a {
        border: 2px solid #fff;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        padding: 0px;
        margin: 20px;
    }
    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
        border: 0px;
        border-radius: 0px;
        width: 35px;
        height: 35px;
        color: #fff;
        background-color: #fff;
        background: url(../images/clippy.svg);
        background-size: 35px 35px;
    }
    #videodiv {
        display: none;
    }
    #aaa {
        position: fixed;
        height: 50%;
        width: 100%;
        margin: 0px;
        display: block;
        z-index: 40;
        left: 55px;
        bottom: 0px;
        pointer-events: none;
        background: transparent;
    }
    #aaa * {
        z-index: inherit;
    }
    #aaa>div {
        border: 2px solid #fff;
        border-radius: 10px;
        position: absolute;
        height: auto;
        display: none;
        background-image: none;
        color: #fff;
        background-color: #000;
        pointer-events: all;
    }
    #aaa>#section00 {
        display: block;
    }
    #s2view {
        width: 90%;
        padding-left: 20px;
        padding-right: 30px;
        height: 90%;
    }
    #logo {
        margin-top: 10%;
        margin-left: 5%;
        width: 40%;
    }
    #framepetting>iframe {
        position: relative;
        width: 75%;
        height: 50%;
        margin-left: 25%;
        border: none;
    }
}
